<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<!--<div th:replace="tory/loginHeader" th:if="${30 lt 20}"></div>-->
<div th:if="${member != null}">
    <div th:replace="tory/loginHeader"></div>
</div>
<div th:if="${member == null}">
    <div th:replace="tory/logoutHeader"></div>
</div>
<!--<div th:text="'미성년자'" th:if="${30 lt 20}"></div>-->
<!--<div th:if="${member != null}" th:replace="tory/logoutHeader"></div>-->
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
            <p>자유롭게 글을 작성하는 게시판입니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list" id="list">
            </div>

            <div class="board_page" id="paging">

            </div>
            <div class="bt_wrap">
                <a th:href="@{/tory/write}" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
            <!--/* 검색 */-->
            <div class="search_box">
                <form id="searchForm" onsubmit="return handleSubmit(event);" autocomplete="off">
                    <div class="sch_group fl">
                        <select id="searchType" name="searchType" title="검색 유형 선택">
                            <option value="">전체 검색</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                        <button type="button" class="bt_search" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            setQueryStringParams();

            findAllPost();
        }

        function setQueryStringParams() {

            if ( !location.search ) {
                return false;
            }

            const form = document.getElementById('searchForm');

            new URLSearchParams(location.search).forEach((value, key) => {
                if (form[key]) {
                    form[key].value = value;
                }
            })
        }

        function findAllPost(){
            const list = [[${paging.list}]];

            if(!list.length){
                document.getElementById('list').innerHTML = '<td colspan="5"><div>겸색된 결과가 없습니다.</div></td>';
                drawPage();
            }
            const pagination = [[${paging.pagination}]]

            const params = [[${params}]];

            let num = pagination.totalRecordCount - ((params.page - 1) *params.recordSize);
            drawList(list, num);
            console.log('hello');

            drawPage(pagination, params);
        }



        function drawList(list, num){
            let html = '';
            html += `
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
            `;

            list.forEach(row => {
                html += `
                <div>
                    <div class="num" text="${row.postSeq}">${row.postSeq}</div>
<!--                    <div class="title" text="${row.title}"><a href="/tory/post/${row.postSeq}" th:href="@{|/tory/post/${row.postSeq}|}">${row.title}</a></div>-->
                    <div class="title" text="${row.title}"><a href="javascript:void(0);" onclick="goViewPage(${row.postSeq});">${row.title}</a></div>
                    <div class="writer" text="${row.author}">${row.author}</div>
                    <div class="date" text="${row.createAt}">${row.createAt}</div>
                </div>
                `;
            })
            document.getElementById('list').innerHTML = html;
        }

    function goViewPage(postSeq) {
        const queryString = location.search;
        location.href = `/tory/post/${postSeq}` + queryString;
    }

        function drawPage(pagination, params){
            if(!pagination || !params){
                document.querySelector('.paging').innerHTML = '';
                throw new Error('Missing required parameters...');
            }

            let html = '';

            if(pagination.existPrevPage){
                console.log('existPrevPage')
                html += `
                    <a href="javascript:void(0);" onclick="movePage(1)" class="bt first"><<</a>
                    <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class=bt prev"><</a>
                `
            }
            for(let i = pagination.startPage; i <= pagination.endPage; i++){
                console.log('for문')
                html += (i !== params.page)
                    ? `<a href="javascript:void(0);" class="num" onclick="movePage(${i});">${i}</a>`
                    : `<a href="#" class="num on"">${i}</a>`
            }

            if(pagination.existNextPage){
            console.log('existNextPage')
                html += `
                    <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="bt next">></a>
                    <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="bt last">>></a>
                `;
            }
            document.getElementById('paging').innerHTML = html;
        }

        function movePage(page){
            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 10
            }
            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }

    // 페이지 이동
    function movePage(page) {

        // 1. 검색 폼
        const form = document.getElementById('searchForm');

        // 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
        const queryParams = {
            page: (page) ? page : 1,
            recordSize: 10,
            pageSize: 10,
            searchType: form.searchType.value,
            keyword: form.keyword.value
        }

        /*
         * 3. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
         *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
         *    URI + 쿼리 스트링에 해당하는 주소로 이동
         *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
         */
        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }

        function handleSubmit(event) {
            event.preventDefault();
            movePage(1);
        }

    </script>

</th:block>
</html>
















