<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link rel="stylesheet" href="/css/css.css" />
</head>
<body>
<header>
  <div class="header_wrap">
    <div>
      <form class="login_info" th:action="@{/tory/login}" th:object="${loginForm}" method="post">
        <input type="text" th:field="*{id}" placeholder="아이디" />
        <input type="password" th:field="*{password}" placeholder="암호" />
        <div class="bt_wrap">
          <button class="on" type="submit">로그인</button>
          <a th:href="@{/tory/member_add}" class="on">회원가입</a>
          <!--<a href="#">수정</a>-->
        </div>
      </form>
    </div>
  </div>
</header>
</body>
</html>
