<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toryMapper">
    <select id="findAllPost" parameterType="com.example.tory.domain.SearchDto" resultType="com.example.tory.domain.Post">
        SELECT
            post_seq as postSeq
            , title as title
            , author as author
            , content as content
            , is_delete as isDelete
            , is_member as isMember
            , password as password
            , member_seq as memberSeq
            , DATE_FORMAT(createAt, '%m-%d') as createAt
            , DATE_FORMAT(updateAt, '%m-%d') as updateAt
        FROM post
        WHERE is_delete = 'N'
        ORDER BY
            post_seq DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getPostCount" parameterType="com.example.tory.domain.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM post
        WHERE
            is_delete = 'N'
    </select>

    <insert id="addMember" parameterType="com.example.tory.domain.Member">
        INSERT INTO MEMBER (id, password, name, email)
        VALUES (#{id}, #{password}, #{name}, #{email})
    </insert>

    <select id="findById" parameterType="com.example.tory.domain.LoginForm" resultType="com.example.tory.domain.Member">
        select
            member_seq as memberSeq
            , id
            , password
            , name
            , email
        from MEMBER
        where id = #{id} and password = #{password}
    </select>

    <insert id="addPost" parameterType="com.example.tory.domain.Post">
        INSERT INTO post (
            <if test="title != null">title,</if>
            <if test="author != null">author,</if>
            <if test="content != null">content,</if>
            is_delete,
            <if test="isMember != null">is_member,</if>
            password,
            <if test="memberSeq != null">member_seq,</if>
            createAt,
            updateAt
        )
        VALUES (
            <if test="title != null">#{title},</if>
            <if test="author != null">#{author},</if>
            <if test="content != null">#{content},</if>
            'N',
            <if test="isMember != null">#{isMember},</if>
        <choose>
            <when test="password != null">#{password}</when>
            <otherwise>null</otherwise>
        </choose>,
        <choose>
            <when test="memberSeq != null">#{memberSeq}</when>
            <otherwise>null</otherwise>
        </choose>,
        now(),
        now()
        )
    </insert>
</mapper>